In [1]:
import os
import csv

In [2]:
budget_data = os.path.join("budget_data.csv")
#~/This-PC/Desktop/DataBootcamp/unc-chacc-data-pt-03-2020-u-c/02-Homework/03-Python/Instructions/PyBank/Resources/budget_data.csv"


print(budget_data)

budget_data.csv

In [3]:
os.getcwd()

'C:\\Users\\Mathew\\Desktop\\Python Challenge'

In [4]:
#Open the data Up, iterate through

total_months = 0
total_profit = 0
Average_change =[]
change_list = []
month_list = []
#[86000, 98000, 30000...]
    

with open(budget_data) as file:
    variable = csv.reader(file)
    print(variable)
    
    header = next(variable) 
    print(header)

    for row in variable:
        print(row[1])
        print(row[0])
        total_months = total_months + 1
        total_profit = total_profit + int(row[1])
        Average_change.append(int(row[1]))
        month_list.append(row[0])

<_csv.reader object at 0x000001FBB5FAA3C8>
['Date', 'Profit/Losses']
867884
Jan-10
984655
Feb-10
322013
Mar-10
-69417
Apr-10
310503
May-10
522857
Jun-10
1033096
Jul-10
604885
Aug-10
-216386
Sep-10
477532
Oct-10
893810
Nov-10
-80353
Dec-10
779806
Jan-11
-335203
Feb-11
697845
Mar-11
793163
Apr-11
485070
May-11
584122
Jun-11
62729
Jul-11
668179
Aug-11
899906
Sep-11
834719
Oct-11
132003
Nov-11
309978
Dec-11
-755566
Jan-12
1170593
Feb-12
252788
Mar-12
1151518
Apr-12
817256
May-12
570757
Jun-12
506702
Jul-12
-1022534
Aug-12
475062
Sep-12
779976
Oct-12
144175
Nov-12
542494
Dec-12
359333
Jan-13
321469
Feb-13
67780
Mar-13
471435
Apr-13
565603
May-13
872480
Jun-13
789480
Jul-13
999942
Aug-13
-1196225
Sep-13
268997
Oct-13
-687986
Nov-13
1150461
Dec-13
682458
Jan-14
617856
Feb-14
824098
Mar-14
581943
Apr-14
132864
May-14
448062
Jun-14
689161
Jul-14
800701
Aug-14
1166643
Sep-14
947333
Oct-14
578668
Nov-14
988505
Dec-14
1139715
Jan-15
1029471
Feb-15
687533
Mar-15
-524626
Apr-15
158620
May-15
87795
Jun-15
423389
Jul-15
840723
Aug-15
568529
Sep-15
332067
Oct-15
989499
Nov-15
778237
Dec-15
650000
Jan-16
-1100387
Feb-16
-174946
Mar-16
757143
Apr-16
445709
May-16
712961
Jun-16
-1163797
Jul-16
569899
Aug-16
768450
Sep-16
102685
Oct-16
795914
Nov-16
60988
Dec-16
138230
Jan-17
671099
Feb-17

In [5]:
print(total_months)
print(Average_change[2])
print(month_list)

86
322013
['Jan-10', 'Feb-10', 'Mar-10', 'Apr-10', 'May-10', 'Jun-10', 'Jul-10', 'Aug-10', 'Sep-10', 'Oct-10', 'Nov-10', 'Dec-10', 'Jan-11', 'Feb-11', 'Mar-11', 'Apr-11', 'May-11', 'Jun-11', 'Jul-11', 'Aug-11', 'Sep-11', 'Oct-11', 'Nov-11', 'Dec-11', 'Jan-12', 'Feb-12', 'Mar-12', 'Apr-12', 'May-12', 'Jun-12', 'Jul-12', 'Aug-12', 'Sep-12', 'Oct-12', 'Nov-12', 'Dec-12', 'Jan-13', 'Feb-13', 'Mar-13', 'Apr-13', 'May-13', 'Jun-13', 'Jul-13', 'Aug-13', 'Sep-13', 'Oct-13', 'Nov-13', 'Dec-13', 'Jan-14', 'Feb-14', 'Mar-14', 'Apr-14', 'May-14', 'Jun-14', 'Jul-14', 'Aug-14', 'Sep-14', 'Oct-14', 'Nov-14', 'Dec-14', 'Jan-15', 'Feb-15', 'Mar-15', 'Apr-15', 'May-15', 'Jun-15', 'Jul-15', 'Aug-15', 'Sep-15', 'Oct-15', 'Nov-15', 'Dec-15', 'Jan-16', 'Feb-16', 'Mar-16', 'Apr-16', 'May-16', 'Jun-16', 'Jul-16', 'Aug-16', 'Sep-16', 'Oct-16', 'Nov-16', 'Dec-16', 'Jan-17', 'Feb-17']

In [6]:
for i in range(1,len(Average_change)):
    #print(Average_change[0])
    print(Average_change[i] - Average_change[i-1])
    change_list.append(Average_change[i] - Average_change[i-1])

116771
-662642
-391430
379920
212354
510239
-428211
-821271
693918
416278
-974163
860159
-1115009
1033048
95318
-308093
99052
-521393
605450
231727
-65187
-702716
177975
-1065544
1926159
-917805
898730
-334262
-246499
-64055
-1529236
1497596
304914
-635801
398319
-183161
-37864
-253689
403655
94168
306877
-83000
210462
-2196167
1465222
-956983
1838447
-468003
-64602
206242
-242155
-449079
315198
241099
111540
365942
-219310
-368665
409837
151210
-110244
-341938
-1212159
683246
-70825
335594
417334
-272194
-236462
657432
-211262
-128237
-1750387
925441
932089
-311434
267252
-1876758
1733696
198551
-665765
693229
-734926
77242
532869

In [7]:
print("total profit is", total_profit)
print("total months are" , len(month_list))


avg_change = sum(change_list)/len(change_list)
index_max = change_list.index(max(change_list))
index_min = change_list.index(min(change_list))
index_max_month = month_list[index_max]
index_min_month = month_list[index_min]
print("Average change is", avg_change)
print ("Max value element : ", max(change_list), (index_max_month))
print ("Min value element : ", min(change_list), (index_min_month))

total profit is 38382578
total months are 86
Average change is -2315.1176470588234
Max value element :  1926159 Jan-12
Min value element :  -2196167 Aug-13